---
import DefaultLayout from '../components/LayoutDefault.astro';
import { friendlyDate } from '../js/friendlyDate';
// const allPosts = await Astro.glob('./blog/*.{md,mdx}');
const allPosts: {
  frontmatter: {
    publishedAt: Date;
    title: string;
    draft?: boolean;
    minutesRead: string;
    excerpt: string;
    image: { url: string; alt: string };
  };
  url: string;
}[] = [
  {
    url: 'https://medium.com/@spandey8312/text-classification-using-custom-data-and-pytorch-d88ba1087045',
    frontmatter: {
      publishedAt: new Date(2023, 4, 17),
      minutesRead: '5 minutes',
      image: {
        url: 'https://miro.medium.com/v2/resize:fit:720/0*rWfiCiIW9hF4TBQp',
        alt: 'Text Classification',
      },
      title: 'Text Classification using Custom Data and PyTorch',
      excerpt: 'Text classification is a fundamental natural language processing (NLP) task that involves assigning predefined categories or labels to text documents. PyTorch, a popular deep learning framework, provides powerful tools for building and training text classification models. In this blog post, we will explore how to perform text classification using PyTorch and the WikiText2 dataset, a widely used benchmark for language modeling.',
    },
  },
  {
    url: 'https://medium.com/@spandey8312/advanced-techniques-for-handling-missing-data-16e9a2c15f7b',
    frontmatter: {
      publishedAt: new Date(2023, 4, 17),
      minutesRead: '3 minutes',
      image: {
        url: 'https://miro.medium.com/v2/resize:fit:720/0*xxWUcfRk6L5KABiy',
        alt: 'Missing Data',
      },
      title: 'Advanced Techniques for Handling Missing Data',
      excerpt: 'Missing data is a common issue in real-world datasets. It can occur for various reasons, such as data collection errors, equipment malfunction, or participant non-response. However, missing data can significantly impact the accuracy and reliability of our analyses. To address this challenge, imputation methods come to our rescue. ',
    },
  },
  {
    url: 'https://medium.com/@spandey8312/performance-metrics-used-in-credit-risk-scoring-models-164661d17eca',
    frontmatter: {
      publishedAt: new Date(2023, 4, 1),
      minutesRead: '3 minutes',
      image: {
        url: 'https://miro.medium.com/v2/resize:fit:720/0*tBb_py8J23ejltQx',
        alt: 'Performance metrics',
      },
      title: 'Performance metrics used in Credit Risk Scoring Models',
      excerpt: 'In the financial sector, credit risk scoring models are frequently employed to evaluate a borrower’s creditworthiness. These models use a variety of data sources, including credit history, income, and employment details, to forecast the risk that a borrower will default on a loan. However, it is crucial to assess these models’ performance using the right metrics in order to guarantee their accuracy and efficacy.',
    },
  },
];
const pathname = new URL(Astro.request.url).pathname;

//        .filter(post => post.url !== pathname)
//        .sort((a, b) => {
//          // Sort newest posts first
//          return new Date(b.frontmatter.publishedAt).getTime() - new Date(a.frontmatter.publishedAt).getTime();
//        })
---

<DefaultLayout documentTitle="Blog" documentDescription="Sharing Code, Experience, and Insights">
  <section class="container">
    <h1 class="main-heading text-swipe-animation">Blog</h1>
    <div class="intro">
      <p>Sharing Code, Experience, and Insights</p>
    </div>

    <section class="posts">
      {
        allPosts
          .filter((post) => post.frontmatter.draft !== true)
          .map((post) => {
            const publishedAtDateFriendly = friendlyDate(post.frontmatter.publishedAt);

            return (
              <a href={post.url} target="_blank" rel="noopener noreferrer" class="post-link">
                <article class="post">
                  <img
                    width="150"
                    class="post-image"
                    src={post.frontmatter.image.url}
                    alt={post.frontmatter.image.alt}
                  />
                  <div class="post-title-area">
                    <span class="post-title">{post.frontmatter.title}</span>
                    <div class="post-meta">
                      <div class="post-date">{publishedAtDateFriendly}</div>
                      <div class="post-reading-time"> {post.frontmatter.minutesRead}</div>
                    </div>
                    <p class="post-excerpt">
                      {post.frontmatter.excerpt} <span class="post-read-button">Read More ›</span>
                    </p>
                  </div>
                </article>
              </a>
            );
          })
      }
    </section>
  </section>
</DefaultLayout>

<style lang="scss">
  .posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 75px;
  }

  .post {
    display: flex;
    gap: 25px;
  }

  .post-image {
    align-self: flex-start;
  }

  .post-link:hover {
    text-decoration: none;
    .post-image {
      filter: brightness(110%);
    }
  }

  .post-title {
    font-size: var(--font-size-4xl);
    font-weight: 400;
    color: var(--color-silver-100);
    max-width: 800px;
    display: block;
  }

  .post-date {
    font-family: var(--font-family-IBM-Plex-Mono);
    color: var(--color-mint-500);
    font-weight: 600;
  }

  .post-reading-time {
    font-family: var(--font-family-IBM-Plex-Mono);
    color: var(--color-silver-400);
  }

  .post-meta {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    gap: 1rem;
  }

  .post-excerpt {
    color: var(--color-silver-200);
    max-width: 800px;
  }

  .post-read-button {
    color: var(--color-silver-100);
    font-weight: 700;
  }

  @media screen and (max-width: 980px) {
    .post {
      flex-direction: column;
    }

    .post-image {
      width: 100px;
    }

    .posts {
      gap: 50px;
    }
  }
</style>

