---
const currentYear = new Date().getFullYear().toString();
const socialIconSize = "1.25rem";
const websiteLaunchYear = "2023";

/**
 * If the current year equals the year the site launches, e.g output:
 *  - © 2023
 * Otherwise copyright notice outputs site launched to current year, e.g output:
 *  - © 2023-2025
 */
const copywriteYears = currentYear === websiteLaunchYear ? currentYear : `${websiteLaunchYear}-${currentYear}`;
---

<footer class="container">
  <p class="legal">Copyright &copy; {copywriteYears} Sandeep Pandey.</p>

  <ul class="social-icon-list">
    <!-- GitHub -->

     <!-- Medium -->
     <li>
      <a href="https://medium.com/@spandey8312" target="_blank">

        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-medium" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
   <path d="M8 9h1l3 3l3 -3h1"></path>
   <path d="M8 15l2 0"></path>
   <path d="M14 15l2 0"></path>
   <path d="M9 9l0 6"></path>
   <path d="M15 9l0 6"></path>
</svg>
      </a>
    </li>

     <!-- LinkedIn -->
     <li>
      <a href="https://www.linkedin.com/in/sandeep-pandey12/" target="_blank">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height={socialIconSize} width={socialIconSize} xmlns="http://www.w3.org/2000/svg"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
      </a>
    </li>
  </ul>
</footer>

<style lang="scss">
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 1.5rem 0;
    width: 100%;
    p {
      font-size: var(--font-size-sm);
    }
  }

  .legal {
    font-family: var(--font-family-IBM-Plex-Mono);
    color: var(--color-silver-400);
  }

  .social-icon-list {
    display: inline-flex;
    align-items: center;
    padding: 0;
    column-gap: 0.75rem;
    list-style-type: none;
    li {
      color: var(--color-mint);
      &:hover {
        filter: brightness(125%);
      }
    }
  }

  @media screen and (max-width: 980px) {
    footer {
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 5px;
    }

    .legal {
      font-size: var(--font-size-xs);
      line-height: 1.25rem;
      margin: 0;
    }
  }
</style>
